<!DOCTYPE html>
<html>
  <head>
    <title>dreampass manage login</title>
  </head>
  <body>
    <h1>dreampass　管理用 login</h1>
      <h4>メールアドレス、パスワードを入力してください。</h4>
        <form action="/login" method="POST">
          <div id="email">
            <label for "email">email</label>
              <input type="email" name="email"/>
          </div>
          <div id="password">
            <label for "password">password</label>
            <input type="password" name="password"/>
          </div>
          <div id="submit">
            <input type="submit"/>
          </div>
        </form>
      <div id="register"><a href="/register">「期間限定！！：１月まで」ユーザ登録がまだの方はこちらから</a></div>
  </body>
</html>
